[Unit]
Description=Orquesta - Temporizador de respaldo

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=orquesta-backup.service

[Install]
WantedBy=timers.target
