[Unit]
Description=Orquesta - Temporizador de respaldo SQLite

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=orquesta-backup-sqlite.service

[Install]
WantedBy=timers.target
